@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: #333;
    color: #fff;
}

div.a{
    background-color: #9ec2e2;
}

div.b{
    background-color: #dcb18a;
}

div.c{
    background-color: aqua;
}

div.d{
    background-color: #aaa;
}

div > span {
font-size: 3rem;
font-weight: bold;
}

div > i {
    font-size: 4rem !important;
}

div.principal {
    display: flex;
    justify-content: space-around;
}
